body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#root {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
}

.App {
    text-align: center;
}

.goods-field {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.goods-block {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.goods-block img {
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 10px;
}

.add-to-cart {
    background-color: #4caf50;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.add-to-cart:hover {
    background-color: #45a049;
}

/* Style for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 5px solid #fff;
    border-top: 5px solid #fff;
    border-bottom: 3px solid #fff;
    border-collapse: collapse;
    outline: 3px solid #4caf50;
    font-size: 15px;
    background: #fff !important;
}

/* Style for table headers */
th {
    /* background-color: #f2f2f2; */
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background: #4caf50;
    border: none;
    font-size: 15px;
}

/* Style for table rows */
td {
    border: 1px solid #ddd;
    padding: 10px;
}
td.quantity {
    border-right-width: 0;
    border-left-width: 0;
}
td img {
    height: 20px;
    width: 20px;
}
.quantity-button {
    border-left-width: 0;
}

/* Style for quantity buttons and remove button */
.quantity-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}
.remove-button {
    background-image: url("icon/cart-icon.svg");
    background-size: cover;
    width: 30px; /* ширина кнопки */
    height: 30px; /* высота кнопки */
    border: none; /* удалить границу */
    cursor: pointer; /* изменить курсор при наведении на кнопку */
    outline: none; /* удалить стандартный контур фокуса */
    background-color: white !important;
}

table tbody tr:nth-child(even) {
    background: #f8f8f8 !important;
}
