.container  {
    width: 100%;
}

section {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #444;
}

.block {
    width: 75px;
    height: 75px;
    margin: 25px;
    border: 2px solid #333;
}

.active {
    background: orange;
}
span{
    padding: 3px 7px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(206, 206, 206, 0.41) inset;
    -moz-box-shadow: 0px 0px 2px 0px rgba(206, 206, 206, 0.41) inset;
    box-shadow: 0px 0px 2px 0px rgba(206, 206, 206, 0.41) inset;
    font-style:italic;
    color: blue;
}
.hide {
    display: none;
}

.img-12-min {
    width: 64px;
}

.img-12-max {
    width: 128px;    border: 3px solid #fff;

}

.active-img {
    border: 3px solid black;
}