@font-face {
  font-family: 'Bellota';
  src: url("../fonts/Bellota-Regular.eot");
  src: url("../fonts/Bellota-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Bellota-Regular.woff2") format("woff2"), url("../fonts/Bellota-Regular.woff") format("woff"), url("../fonts/Bellota-Regular.ttf") format("truetype"), url("../fonts/Bellota-Regular.svg#Bellota-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bellota-Italic';
  src: url("../fonts/Bellota-Italic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Bellota-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Bellota-Italic.otf") format("opentype"), url("../fonts/Bellota-Italic.svg") format("svg"), url("../fonts/Bellota-Italic.ttf") format("truetype"), url("../fonts/Bellota-Italic.woff") format("woff"), url("../fonts/Bellota-Italic.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 20px;
  min-height: 100%;
}

body {
  margin: 0rem;
  font-family: 'Bellota';
  color: #833219;
}

a:active,
a:hover a {
  text-decoration: none;
  color: #666;
}

h1 {
  font-size: 4rem;
}

.services .services__content h2, .more h2, .team .team__content h2 {
  font-size: 3rem;
  text-align: center;
  color: #ff9474;
  font-weight: 700;
  font-family: 'Bellota-Italic';
}

h4 {
  font-size: 1.5rem;
}

.header .header-content p, .services .services__content p, .more p, .more .more__card .card .card-text {
  display: block;
  width: 70%;
  text-align: center;
}

.header .header__button .wrap-block .header__button_dark, .header .header-content .header-content__buttons .header-content__order-btn, .header .header-content .header-content__buttons .header-content__more-btn {
  padding: .5rem 1rem;
  border-radius: 2rem;
  text-transform: uppercase;
  border: none;
  font-size: .7rem;
  font-weight: 900;
}

.services .services__content .services__more-btn, .team .team__more-btn {
  padding: .5rem 1rem;
  border-radius: .3rem;
  text-transform: uppercase;
  border: none;
  font-size: .7rem;
  font-weight: 900;
}

.header .header__button .wrap-block .header__button_dark, .header .header-content .header-content__buttons .header-content__order-btn, .services .services__content .services__more-btn {
  background-color: #ff9474;
  color: #ffffff;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header .header__button .wrap-block .header__button_dark:hover, .header .header-content .header-content__buttons .header-content__order-btn:hover, .services .services__content .services__more-btn:hover {
  background: #ff6d41;
}

.header .header-content .header-content__buttons .header-content__more-btn, .team .team__more-btn {
  background-color: #ffffff;
  color: #ff9474;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header .header-content .header-content__buttons .header-content__more-btn:hover, .team .team__more-btn:hover {
  background: #ffe3da;
}

.header .header__button .wrap-block .header__button_animation {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.header .header__button .wrap-block .header__button_animation:hover {
  padding: 0.8rem 1.3rem;
  background: #ff6d41;
}

.header {
  background: url(/build/img/weddingservices-sliderbg.jpg) top center no-repeat;
  margin: 0 auto;
  height: 5rem;
  padding: 0.5rem 0;
  height: 100%;
}

.header .header__phone {
  display: inline-block;
  color: #833219;
  font-size: 1rem;
  font-weight: 700;
  height: 5rem;
  line-height: 5rem;
  white-space: nowrap;
}

.header .header__button {
  display: table;
  width: 100%;
  height: 5rem;
}

.header .header__button .wrap-block {
  display: table-cell;
  vertical-align: middle;
}

.header .header-content {
  text-align: center;
  position: relative;
  padding-bottom: 5rem;
}

.header .header-content h1 {
  margin: 3rem 0 2rem;
  color: #ff9474;
  font-weight: 600;
  font-family: 'Bellota';
}

.header .header-content p {
  margin: 2rem auto;
}

.header .header-content .header-content__buttons {
  padding-bottom: 11rem;
  margin: auto;
}

.header .header-content .header-content__scroll-btn {
  display: block;
  width: 100%;
  height: 30px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: -3.0rem;
}

.services .services__content {
  text-align: center;
}

.services .services__content h2 {
  margin-bottom: 4rem;
}

.services .services__content p {
  width: 100%;
  margin: 2rem auto;
}

.services .services__content .services__more-btn {
  margin-bottom: 3rem;
}

.services .services__cards {
  text-align: center;
  margin: 1rem;
}

.services .services__cards .card {
  width: 16rem;
  border: none;
}

.services .services__cards h4 {
  color: #ff9474;
  font-weight: 900;
}

.video-promo {
  padding: 10rem 0;
  background: url("/build/img/weddingservices-sectionbg1.jpg") 50% 50% no-repeat;
  position: relative;
}

.video-promo .video-promo__img {
  position: relative;
  padding: 4rem 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-promo .video-promo__text {
  display: table;
  color: #fefcf8;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 45%;
  z-index: 3;
  white-space: nowrap;
  height: 5rem;
}

.video-promo .video-promo__text .video-promo__play {
  display: inline-block;
  background: url();
  position: relative;
  cursor: pointer;
  height: 5rem;
  width: 5rem;
}

.video-promo .video-promo__text .video-promo__play .video-promo__play_act {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: inline-block;
  height: 5rem;
  width: 5rem;
  z-index: 5;
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.video-promo .video-promo__text .video-promo__play .video-promo__play_act:hover {
  opacity: 0;
}

.video-promo .video-promo__text .video-promo__play .video-promo__play_hov {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: inline-block;
  height: 5rem;
  width: 5rem;
  z-index: 4;
}

.video-promo .video-promo__text p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 5rem;
  font-size: 2rem;
  font-weight: 900;
}

.more p {
  margin: 1rem auto;
}

.more .more__card {
  margin-top: 2rem;
}

.more .more__card .card {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.more .more__card .card img {
  height: 6rem;
  width: 6rem;
}

.more .more__card .card .card-text {
  width: 100%;
  color: #ff9474;
}

.team {
  margin-top: 14rem;
  background: url(/build/img/weddingservices-sectionbg2.jpg);
  text-align: center;
}

.team .team__content {
  text-align: center;
  margin: 0 auto;
}

.team .team__content h3 {
  margin-top: 2rem;
}

.team .team__content h2 {
  margin: 2rem auto 3rem;
  color: #ffffff;
}

.team .team__love-img img {
  margin-top: -13rem;
}

.team .team__child {
  text-align: center;
  margin: auto;
}

.team .team__child .card {
  text-align: center;
  background: transparent;
  width: 16rem;
  border: none;
}

.team .team__child img {
  margin: 2rem auto;
  width: 10rem;
  height: 10rem;
}

.team .team__child h4 {
  color: #ffffff;
  margin: 1rem auto;
}

.team .team__more-btn {
  margin: 3rem auto;
}

.footer {
  background-color: #fefcf8;
}

.footer .footer__menu {
  padding: 3rem 0;
  text-align: center;
  margin: auto;
}

.footer .footer__menu .footer__adress {
  text-align: center;
}

.footer .footer__menu .footer__adress h4 {
  color: #ff9474;
}

.footer .footer__menu .footer__adress p {
  text-align: center;
}

.footer .footer__menu .footer__social {
  text-align: center;
}

.footer .footer__menu .footer__social .footer__social-logo {
  width: 100%;
  margin: auto;
}

.footer .footer__menu .footer__social .footer__social-icon img {
  margin: 0 1rem;
  height: 2rem;
  width: 2rem;
}

.footer .footer__menu .footer__contact {
  text-align: center;
}

.footer .footer__menu .footer__contact h4 {
  color: #ff9474;
}

.footer .footer__menu .footer__contact p {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */