.container  {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 32px;
    line-height: 36px;
}

h2  {
    font-size: 24px;
}

section {
    margin: auto;
    width: 80%;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #444;
}

p, li {
    text-align: start;
}



.block {
    width: 75px;
    height: 75px;
    margin: 25px;
    border: 2px solid #333;
}

.active {
    background: orange;
}

.hide {
    display: none;
}

.img-12-min {
    width: 64px;
}

.img-12-max {
    width: 128px;    border: 3px solid #fff;

}

.active-img {
    border: 3px solid black;
}
.container code{
    background: none !important;
}
code p{
display: block;
text-align: left;
background-color: #f8f7f2;
padding: 10px 20px 10px;
border: 1px solid #dfdac2;

}